.node-unpublished{background-color:#fff4f4;}
fieldset{margin-bottom:1em;padding:.5em;}
form{margin:0;padding:0;}
hr{height:1px;border:1px solid gray;}
img{border:0;}
table{border-collapse:collapse;}
th{text-align:left;padding-right:1em;border-bottom:3px solid #ccc;}
clear-block:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clear-block{display:inline-block;}
* html .clear-block{height:1%;}
.clear-block{display:block;}
tr.even,tr.odd{background-color:#eee;border-bottom:1px solid #ccc;padding:0.1em 0.6em;}
tbody{border-top:1px solid #ccc;}
tbody th{border-bottom:1px solid #ccc;}
thead th{text-align:left;padding-right:1em;border-bottom:3px solid #ccc;}
div.error{background:#fcc;color:#200;padding:2px;}
div.warning{background:#ffd;color:#220;padding:2px;}
div.ok{background:#dfd;color:#020;padding:2px;}
.item-list ul{margin:0 0 0.75em 0;padding:0;}
.item-list ul li{margin:0 0 0.25em 1.5em;padding:0;list-style:disc;}
.form-item{margin-top:1em;margin-bottom:1em;}
.form-item .description{font-size:0.85em;}
.form-item label{display:block;font-weight:bold;}
.form-required{color:#f00;}
ul.primary li a:hover{background-color:#eee;border-color:#ccc;border-bottom-color:#eee;}
html.js fieldset.collapsible legend a{display:block;}
a.tabledrag-handle:hover{text-decoration:none;}
span.password-strength{visibility:hidden;}
input.password-field{margin-right:10px;}
div.password-description{padding:0 2px;margin:4px 0 0 0;font-size:0.85em;max-width:500px;}
.password-parent{margin:0 0 0 0;}
input.password-confirm{margin-right:10px;}
.confirm-parent{margin:5px 0 0 0;}
span.password-confirm{visibility:hidden;}
span.password-confirm span{font-weight:normal;}
ul.menu{list-style:none;border:none;text-align:left;}
ul.menu li{margin:0 0 0 0.5em;}
li.expanded{list-style-type:circle;list-style-image:url(/misc/menu-expanded.png);padding:0.2em 0.5em 0 0;margin:0;}
li.collapsed{list-style-type:disc;list-style-image:url(/misc/menu-collapsed.png);padding:0.2em 0.5em 0 0;margin:0;}
li.leaf{list-style-type:square;list-style-image:url(/misc/menu-leaf.png);padding:0.2em 0.5em 0 0;margin:0;}
i a.active{color:#000;}
ul.links{margin:0;padding:0;}
ul.links.inline{display:inline;}
ul.links li{display:inline;list-style-type:none;padding:0 0.5em;}
.block ul{margin:0;padding:0 0 0.25em 1em;}
#user-login-form{text-align:center;}
div.view:hover div.views-hide{margin-top:-1.5em;}
@media screen{@font-face{font-family:'Open Sans';font-style:italic;font-weight:800;src:local('Open Sans Extrabold Italic'),local('OpenSans-ExtraboldItalic'),url('//themes.googleusercontent.com/static/fonts/opensans/v5/PRmiXeptR36kaC0GEAetxkCDe67GEgBv_HnyvHTfdew.woff') format('woff');}}
@media screen{@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'),local('OpenSans-Bold'),url('//themes.googleusercontent.com/static/fonts/opensans/v5/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff') format('woff');}}
@media screen{@font-face{font-family:'Open Sans';font-style:normal;font-weight:800;src:local('Open Sans Extrabold'),local('OpenSans-Extrabold'),url('//themes.googleusercontent.com/static/fonts/opensans/v5/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff') format('woff');}}
@media screen{@font-face{font-family:'Open Sans';font-style:italic;font-weight:600;src:local('Open Sans Semibold Italic'),local('OpenSans-SemiboldItalic'),url('//themes.googleusercontent.com/static/fonts/opensans/v5/PRmiXeptR36kaC0GEAetxn5HxGBcBvicCpTp6spHfNo.woff') format('woff');}}
@media screen{@font-face{font-family:'Open Sans';font-style:italic;font-weight:300;src:local('Open Sans Light Italic'),local('OpenSansLight-Italic'),url('//themes.googleusercontent.com/static/fonts/opensans/v5/PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff') format('woff');}}
@media screen{@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'),local('OpenSans-Light'),url('//themes.googleusercontent.com/static/fonts/opensans/v5/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff') format('woff');}}
@media screen{@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans'),local('OpenSans'),url('//themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');}}
@media screen{@font-face{font-family:'Open Sans';font-style:italic;font-weight:400;src:local('Open Sans Italic'),local('OpenSans-Italic'),url('//themes.googleusercontent.com/static/fonts/opensans/v5/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff') format('woff');}}
@media screen{@font-face{font-family:'Open Sans';font-style:italic;font-weight:700;src:local('Open Sans Bold Italic'),local('OpenSans-BoldItalic'),url('//themes.googleusercontent.com/static/fonts/opensans/v5/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff') format('woff');}}
@media screen{@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans Semibold'),local('OpenSans-Semibold'),url('//themes.googleusercontent.com/static/fonts/opensans/v5/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff') format('woff');}}
html{scrollbar-3dlight-color:#F0F0EE;scrollbar-arrow-color:#676662;scrollbar-base-color:#F0F0EE;scrollbar-darkshadow-color:#DDDDDD;scrollbar-face-color:#E0E0DD;scrollbar-highlight-color:#F0F0EE;scrollbar-shadow-color:#F0F0EE;scrollbar-track-color:#F5F5F5;}
body{padding:0;margin:0;font:12px/1.35 'Open Sans',Helvetica,Arial,sans-serif;color:#c5c5c5;background-color:#080808;min-width:1050px;}
p,h1,h2,h3,h4,h5,h6,span,a,li,ul{margin:0;padding:0; color:#c5c5c5}
h1{font-size:24px;color:#c5c5c5;}
h2{font-size:18px;color:c5c5c5}
a{color:#4b8cb4;text-decoration:none;}
a:hover{color:#FFF;text-decoration:none;}
li,ul{}
ul{/*padding-left:18px;*/}
.clear-fix{clear:both;}
table{width:100%;border:none;-webkit-box-shadow:0 0 2px #000;box-shadow:0 0 2px #000;margin-bottom:25px;border-collapse:separate;border-spacing:1px;background: #121212;}
tr,thead th,th{text-align:center;padding:0;line-height:15px;font-size:13px;}
table thead{border:none;background:#080808;}
table tbody{border:none;}
table thead tr th{border:none;padding:9px 5px;font-size:13px;}
table.sticky-header{background-color:#0E0E0F;}
tbody td{border:none;padding:7px;color:#fff;}
tr.even,tr.odd{background:#121212;color: #fff;}
tr.even{background:#080808;}
#page-cont{border-top:1px solid #fff;}
#page{width:1040px;margin:0px auto 0 auto;background-color:#080808;/*padding-top:5px;*/}
textarea{border:1px solid #0A0A0B;background:#181819;padding:3px 5px;color:#999;}
.resizable-textarea .grippie{background-color:#262525;border:1px solid #0A0A0B;border-top:none;}
fieldset{border:2px solid #c5c5c5;}
.clear{clear:both;height:0;line-height:0;}
.clearfix:after{content-top:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}

.clearfix{height:1%;}
.clearfix{display:block;}
.tab ul.login li a:hover{color:white;}
.tab a.open{background:url(bt_open.png) no-repeat left 0;}
.tab a.close{background:url(bt_close.png) no-repeat left 0;}
.tab a:hover.open{background:url(bt_open.png) no-repeat left -19px;}
.tab a:hover.close{background:url(bt_close.png) no-repeat left -19px;}
#user-box input.form-text{width:95%;}
input.form-text{margin:0;margin-right:5px;margin-top:4px;padding:2px 4px;background:#232323;color:#999;border:1px solid #0A0A0B;text-align:left;}
.node-form .form-text{width:auto;}
#header{border-bottom:1px solid #0E0E0F;background-color:#121212;padding-top:27px;}
#header-wrapper{width:1000px;margin:0 auto;padding:15px 20px;}
#logo{}
#logo a
{
    background-image:image-url("logo2.png");text-indent:-990em;width:350px;height:65px;background-position:0 0px;
    float:left;display:block;background-repeat:no-repeat;position:relative;margin-left:15px;margin-top:0px;
}
#logo a span{background-image:image-url("logo2.png");background-position:0 -65px;display:block;position:absolute;height:100%;width:100%;z-index:100;background-repeat:no-repeat;top:0;}
#user-login-form{text-align:left;font-size:0.85em;}
#user-login-form label{}
input.form-submit{padding:3px 3px;text-align:center;cursor:pointer;background-color:#080808;font-weight:bold;color: #c5c5c5;border:none;}
input:-webkit-autofill{}
.sidebar{width:240px;}
#sidebar-left{float:right;padding-right:10px;padding-left:10px;padding-top: 10px;}
#center{float:left;padding:0 10px;}
body.sidebar-left #center{width:760px;padding-top: 15px;}
#main{/*-webkit-box-shadow:0px 0px 10px #000;box-shadow:0px 0px 10px #000;border-bottom-left-radius:6px;border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;-moz-border-radius-bottomleft:6px;-webkit-bottom-right-radius:6px;-webkit-bottom-left-radius:6px;border-top-left-radius:2px;border-top-right-radius:2px;-moz-border-radius-topright:2px;-moz-border-radius-topleft:2px;-webkit-top-right-radius:2px;-webkit-top-left-radius:2px;background-color:#000;padding:10px 0;min-height:500px;/*border:1px solid #fff;*/}
.node h2{font-size:24px;}
#nav .block{padding:0;}
#nav .block .content{border:none;padding:0;}
#nav{}
#nav ul{float:right;padding:0;margin:15px 0;z-index:100;text-shadow:none;}
#nav li{float:left;font-size:16px;padding:0;margin:0;list-style-image:none;list-style-type:none;width:auto;position:relative;border-right:1px solid #363432;}
#nav li a{padding:0 15px;text-decoration:none;float:left;font-size:13px;font-weight:600;color:#c5c5c5;list-style-image:none;list-style-type:none;display:block;border-right:1px solid #000;text-transform:capitalize;line-height:40px;}
#nav ul ul{position:absolute;display:none;top:40px;-moz-box-shadow:0 0 5px #000;padding:9px 0;-webkit-box-shadow:0 0 5px #000;background:rgba(0,0,0,0.8);filter:alpha(opacity = 80);border:1px solid #333;background:rgba(14,14,15,0.8);margin:0;text-shadow:none;font-weight:normal;}
#nav ul li ul li.first a{border-top-left-radius:0;-moz-border-radius-topleft:0;-webkit-top-left-radius:0;}
#nav ul li ul li.last a{}
#nav ul li ul li a{font-size:11px;width:170px;padding:0 0 0 15px;text-align:left;border:none;line-height:32px;}
#nav ul li ul li a:hover{background-color:#fff;background-color:rgba(0,0,0,0.6)
}
#nav ul li ul li{border-right:none;}
#nav li a:hover{color:#fff;}
#nav li a.active{color:#fff;}
#nav li.first{}
#nav li.first a{}
#nav li.last{border-right:none;}
#nav li.last a{border-right:none;}
.sidebar .block{background-color:#111111;-webkit-box-shadow:0px 0px 10px #000;box-shadow:0px 0px 10px #000;border-bottom-left-radius:6px;border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;-moz-border-radius-bottomleft:6px;-webkit-bottom-right-radius:6px;-webkit-bottom-left-radius:6px;border-top-left-radius:2px;border-top-right-radius:2px;-moz-border-radius-topright:2px;-moz-border-radius-topleft:2px;-webkit-top-right-radius:2px;-webkit-top-left-radius:2px;/* border:1px solid #fff;*/}
.block ul{padding-left:1px;}
#sidebar-left .block{margin:0 0 15px 0;}
.sidebar .block .block-head{background:#1c1c1c;-webkit-box-shadow:0 0 2px #000;box-shadow:0 0 2px #000;margin:5px -2px 0 -2px;border-top-left-radius:2px;border-top-right-radius:2px;-moz-border-radius-topright:2px;-moz-border-radius-topleft:2px;-webkit-top-right-radius:2px;-webkit-top-left-radius:2px;border-bottom-left-radius:2px;border-bottom-right-radius:2px;-moz-border-radius-bottomright:2px;-moz-border-radius-bottomleft:2px;-webkit-bottom-right-radius:2px;-webkit-bottom-left-radius:2px;/*border:1px solid #232323;*/}
.sidebar .block .block-head h2{padding-left:10px;color:#c5c5c5;font-size:16px;font-weight:600;line-height:33px;}
.sidebar .block .content{border-top:1px solid #0A0A0B;padding:5px 10px 10px;}
.title-box{display:inline-block;position:relative;height:55px;width:100%;}
body.sidebar-left .title-box{/*background:url(h1-right2.png) no-repeat right bottom;right:-16px;*/}
.title-box-cont{height:40px;margin:5px 0 10px;margin-right:8px;background:#1c1c1c;;border-bottom-left-radius:2px;-moz-border-radius-bottomleft:2px;-webkit-bottom-left-radius:2px;border-top-left-radius:2px;-moz-border-radius-topleft:2px;-webkit-top-left-radius:2px;-webkit-box-shadow:0 0 2px #000;box-shadow:0 0 2px #000;/*border:1px solid #232323;*/}
body.sidebar-left .title-box-cont{border-bottom-left-radius:2px;-moz-border-radius-bottomleft:2px;-webkit-bottom-left-radius:2px;border-top-left-radius:2px;-moz-border-radius-topleft:2px;-webkit-top-left-radius:2px;margin-right:8px;}
.title-box-cont h2{font-size:23px;line-height:40px;padding-left:10px;text-shadow:none;}
body.sidebar-right .title-box-cont  h2,body.sidebar-right .title-box-cont  h1{padding-left:40px;}
.title-box-cont h2 a{color:#FFF;text-decoration:none;font-weight:600;}
.title-box-cont h1{font-size:23px;line-height:40px;padding-left:10px;text-shadow:none;font-weight:600;}
body#front .content-box{padding:0 20px 0 20px;/*border-bottom: 1px solid #c5c5c5;*/}
.node{border-bottom:2px solid #0A0A0B;border-top:1px solid #1F2020;padding:0 0 5px;background: #080808;}
.node .content{padding:0 0 25px;}
.tabs ul.primary a,.tabs ul.primary a.active{border:1px solid #000;background-color:#272727;text-shadow:none;}
ul.primary li.active a{border:1px solid #000;background-color:#272727;text-shadow:none;border-bottom:1px solid #000;}
ul.primary li.active a:hover,.tabs ul.primary a:hover{border:1px solid #000;background-color:#272727;text-shadow:none;border-bottom:1px solid #000;color:#37789E;}
.tabs ul.primary{line-height:20px;}
hr{background-color:#000;border:0;border-bottom:1px solid #1F2020;border-top:2px solid #000;clear:both;display:block;height:0;width:100%;margin:0;margin-bottom:15px;margin-top:10px;}
.content-top{padding:10px 0;}
ul.links.inline{display:inline;}
div.error,tr.error{background-color:#0E0E0F;color:#FFF;}
div.error{border:1px solid #000;padding:3px;text-shadow:none;}
div.password-description{padding:3px;text-shadow:none;}
div.warning{background:#FFF;color:#000;}
#footer{border-top:1px solid #fff;background-color:#080808;}
#footer-wrapper{width:1040px;margin:0 auto;}
#footer #copy{line-height:40px;font-size:13px;text-align:right;}
#user-bar{position:absolute;min-width:1050px;top:0;z-index:999;width:100%;background:image-url("user-bar.png") repeat-x left top;}
#user-top-menu ul.menu li a:hover{color:#999;}
#user-box{background:image-url("user-box.png") repeat-x left top;float:right;height:50px;position:relative;padding-left:80px;}
#user-box ul li.user-name a:hover{color:#999;}
#user-box ul li.user-meta-links a:hover{background:url(user-link-hover.png) repeat-x left top;}
#user-box ul li.user-meta-links ul li a:hover{background-color:rgba(0,0,0,0.6);background-image:none;}
#user-box ul li:hover ul{visibility:visible;}
#user-box ul li.user-meta-no  a{line-height:12px;font-size:12px;padding:0;display:inline;text-transform:none;font-weight:600;}
#user-box .user-meta-block{position:absolute;background-color:#000;padding:9px 12px 12px 12px;top:45px;right:1px;border:1px solid #c5c5c5;border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;-webkit-bottom-left-radius:6px;-webkit-box-shadow:0px 0px 10px #0E0E0F;box-shadow:0px 0px 10px #0E0E0F;width:200px;}
.item-list ul li{margin:0;padding:0;list-style:disc;display:block;}
.comment .comment-head .picture{background-color:#181819;float:none;}
.comment .comment-head .picture  img{display:block;width:64px;border:1px solid #0A0A0B;}
#main .node ul.links{background:rgba(39, 39, 39, 0.22);display:inline-block;z-index:0;margin:7px 10px 10px;-webkit-box-shadow:0 0 2px #000;box-shadow:0 0 2px #000;/*border:1px solid #232323;*/}
#main .node ul.nobody{}
#main .node ul.links{margin:0px 0px 10px;}
#main .node ul.links li{margin:0;padding:0;display:inline-block;}
#main .node ul.links li span{color:#e5e5e5;font-size:11px;}
#main .node ul.links li a{line-height:21px;/*border-left:1px solid #181717;*/display:inline-block;padding:0 30px;color:#e5e5e5;text-transform:capitalize;font-size:11px;}
#main .node ul.links li a{padding:0 25px;}
#comments ul.links li a:hover,#main .node ul.links li a:hover{color:#fff;}
#stream table#stream-table tr,#stream table#stream-table thead th{text-align:center;line-height:15px;font-size:12px;}
#stream table#stream-table thead th.first,#stream table thead th.first{padding-left:90px;}
#stream .picture img{height:36px;width:36px;}
#stream .picture{padding:3px;box-shadow:0px 0px 1px #0E0E0F;border-radius:2px;-moz-border-radius:2px;-webkit-radius:2px;margin-left:10px;margin-right:15px}
.item-list li{display:inline;padding:5px 0;}
.item-list .pager li{background:#212020;margin-left:4px;-webkit-box-shadow:0 0 2px #000;box-shadow:0 0 2px #000;border-radius:3px;-moz-border-radius:3px;-webkit-radius:3px;font-weight:bold;padding:4px 0;}
li.leaf{padding:0;}
ul.menu li{margin:0;}
li.collapsed{padding:0;}

.sticky-enabled div{float:right;width:90px;text-align:center;}

#armory{width: 720px;padding: 0 20px 0 20px;}
#armory-items{}
#armory-arena{}
#armory-talents{}

#recaptcha_container img {width: 200px;}
#recaptcha_response_field {clear: both;}

.featured-img {
    float: left;
    width: 470px;
    height: 250px;
    margin-bottom: 5px;
}

.featured-streams {
    width: 285px;
    float: right;
    height: 250px;
}

/*.featured-streams::-webkit-scrollbar {
width: 5px;
height: 5px;
}
.featured-streams::-webkit-scrollbar-button:start:decrement,
.featured-streams::-webkit-scrollbar-button:end:increment  {
height: 0px;
background-color: transparent;
}
.featured-streams::-webkit-scrollbar-track-piece  {
background-color: #141414;
}
.featured-streams::-webkit-scrollbar-thumb:vertical {
height: 10px;
background-color: #666;
}*/

.featured-stream-controls {
    text-align:center;
}

.featured-stream-controls button {
    width: 22px;
    height: 22px;
    background: #252626;
    border: 0;
    color: #ddd;
}

.featured-stream-controls button:hover {
    background: #444;
    cursor: pointer;
}

.featured-stream-selected {
    position: relative;
}

.featured-stream-selected i {
    position: absolute;
    font-size: 50px;
    top: 92px;
    left: 220px;
    color: #fff;
}

.featured-stream-selected:hover i {
    color: #37789E;
}

div.streambox
{
    background-color:#121212;
    margin:1px 0;
    width:100%;
    height:40px;
    line-height:40px;
    overflow:hidden;
    float:left;
    background-position:center;
    background-repeat:no-repeat;
    color:#c5c5c5;
    border-radius: 1px;
    box-sizing: border-box;
    background-size: 115px 70px;
    background-position: 0;
    border-bottom: 2px solid #000;
}
.streambox:hover {
    color: #fff;
    background-color:#0a0a0a;
}

div.featured {
    border-top: 1px solid #555;
    width:100%;
    height:70px;
    background-color: #121212;
    position: relative;
    padding: 0 0 0 110px;
    margin: 0;
}

.featured.selected {
    color: #c5c5c5;
    background-color: #1d1d1d;
}

.featured .stream-title {
    float: none !important;
    color: c5c5c5;
    font-size: 14px !important;
}

.featured .stream-class {
    margin: 0 !important;
}

.featured .stream-class img {
    width: 16px !important;
    height: 16px !important;
}

.streambox .stream-row {
    padding: 0;
    line-height: 15px;
    overflow:hidden;
    white-space: nowrap;
}

.featured-streams a:first-child .featured {
    border-top: 0px;
}

.featured .stream-bottom {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

div.streambox div{padding: 0 10px;}
div.streambox .stream-title {font-size:17px; float:left;padding: 0 !important;}
div.streambox .stream-info {font-size:11px; float:right;}
div.streambox .stream-class {margin-top: 4px;}
div.streambox .stream-class img {width:32px; height:32px;}

.featured .stream-class {padding: 0 5px 0 10px !important;}

.streambox .stream-left {float: left !important;}

div.accountbox
{
    background-color:#121212;border: 1px black solid;margin:6px;width:345px;overflow:hidden;float:left;
    color:#fff;/*-webkit-box-shadow: 0px 0px 10px #0E0E0F;/*box-shadow: 0px 0px 10px #0E0E0F;border-radius: 6px;*/min-height:190px;;
}
div.accountbox td{text-align:left;}
div.accountbox table{margin:0;border:0;border-spacing:0;box-shadow:none;}
div.accountbox div{height:25px;background-color:black;font-size:18px;/*padding:0px 10px;*/opacity:0.6;}

/* Active\Deleted buttons for tab switching*/
div.accountbox a.tabLink{color: #fff;font-size: 18px;margin-left: 23%;}
div.accountbox a.tabLink.current{color: #FFFFFF;}

/* making text to be +/- as on armory + adding border-radius for images */
div.accountbox table.charactersTab{font-weight: bold;letter-spacing: -0.05em;line-height: 1.1em;}
div.accountbox table.deletedCharacters{display: none;}
div.accountbox table.charactersTab img{border-radius: 10px;}

/* Making active\deleted characters name font the same  */
div.accountbox table.deletedCharacters td.deletedName{color: #37789E;}

div.accountbox table.charactersTab input[type=submit]
{
    border: 1px black solid;
    background-color: grey;
    border-radius: 5px;
    margin-right: 5px;
}

div.armorybox
{
    background-color:#121212;border: 1px black solid;margin:20px;width:248px;overflow:hidden;float:left;
    color:white;-webkit-box-shadow: 0px 0px 10px #000;box-shadow: 0px 0px 10px #000;border-radius: 6px;
}
div.armorybox div.top{height:25px;background-color:#1c1c1c;font-size:18px;padding:0px 10px;opacity:0.6;}
div.armorybox div.text{height:25px;padding:10px;opacity:0.6;}
#armorySearchBox{width: 450px; height: 150px; margin-left: 130px;padding-bottom: 10px;}
#armorySearchBox .top{padding-left: 15px;}
#armorySearchBox .text{text-align: center;}
#armorySearchBox .text input[type=text]{
    outline: 0;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #000000;
    width: 300px;
    padding: 6px 15px 6px 35px;
    border: 1px solid #B4BAC0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    background: url("styles/AT/theme/images/search-dark.png") no-repeat 10px 6px #444;
}
#armorySearchBox .text input[type=text]:focus{border-color: #11A3EA;}
#armorySearchBox .text input[type=submit]{display: none;}

#armorySearchBox .text select{
    outline: 0;
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    font-size: 16px;
    height: 34px;
    padding: 5px;
    width: 268px;
}
#armorySearchBox .text .searchOption
{
    margin: 10px auto;
    height: 34px;
    overflow: hidden;
    width: 240px;
    border-radius: 5px;
    background: url(down_arrow.jpg) no-repeat right #ddd;
}

div.votebox
{
    background-color:#262525;border: 1px black solid;margin:4px;width:750px;overflow:hidden;float:left;padding-bottom:5px;
    color:white;-webkit-box-shadow: 0px 0px 10px #0E0E0F;box-shadow: 0px 0px 10px #0E0E0F;border-radius: 6px;
}
div.votebox div.top{height:25px;background-color:black;font-size:18px;padding:0px 3px;opacity:0.6;white-space:nowrap;overflow:hidden;}
div.votebox div.text{padding:10px;overflow:auto;}
div.votebox span.votes{padding:0px 10px;font-size:18px;float:right;font-weight:600;margin-top:9px;}

div#infobox{position: fixed;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.4);top: 0px;left: 0px;}
div#infobox-box{border: #1c1c1c 5px solid;background: #262525;width: 400px;height: 200px;position: fixed;top: 50%;left: 50%;margin-left: -200px;margin-top: -100px;}
div#infobox-head{width: 100%;height: 25px;background: #1c1c1c;}
div#infobox-head a{color: white;font-weight: bold;}
div#infobox-content{padding: 60px;text-align: center;font-size: 20px;}

.vis-hidden{visibility: hidden;display: none;}
.vis-visible{visibility: visible;}

span.donation-price{font-size: 15px;color: #fff;}
div#donation-info-box{border: 1px #fff solid;}

a.ladder-size-switch{float:right;font-size:20px;padding:7px;font-weight:bold;}

div#at_sidebar{position: fixed; top: 70px; left: 0px; width: auto;z-index:999999}
div#at_sidebar a{margin-bottom: 7px; height: 35px; display:block; width: 100px; background: #0E0E0F; border: #37789E solid 2px; border-left: 0px; text-align: right; padding-right: 3px;}
div#at_sidebar a.at_sidebar_red{color:red;}
div#at_sidebar a.at_sidebar_red:hover{color:#FFFFFF;}

span.donationdisabled {/*font-size:0.7em;*/}
span.donationdisabled .donation-price {font-size:1.2em}

#nav ul li ul li a.nav_notify, #nav li a.nav_notify{color:red;}

.featu_text { cursor: pointer; }

.bbcode_spoiler_toggle{display:block;height:20px;padding:2px;border:1px solid #999999;background:#000;text-align:center;width:40px;color:#FFFFFF;}
.bbcode_spoiler_content{display:none;padding:5px;border:1px solid #999999;}

#switchSearchType{margin-left: 20px;margin-bottom: 3px;}
#switchSearchType a{
    margin: 0 3px;
    padding: 0 10px;
    width: 150px;
    height: 150px;
    font-size: 27px;
    background: none repeat scroll 0 0 #0e0e0e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: black 1px solid;
    border-collapse: separate;
    border-spacing: 1px;

}
#switchSearchType a.current{
    color: #fffff;
}

div#wowstats table td { border: 1px solid; }
div#wowstats tr { height: 40px; }

.loading {
    margin: 0 auto;
    background: url(loading-spinner.gif) no-repeat;
    background-size: 20px 20px;
    background-position: 50% 0;
    min-width: 20px;
    min-height: 20px;
}

h4.event { color: #37789E; font-size:1.1em }
p#countdown-1, p#countdown-2, p#countdown-3 { font-size: 1.2em }

.social{
    position:relative;
    left: 75px;
}
.facebook-icon {
    background:url(facebook.png);
}
.twitter-icon {
    background:url(twitter.png);
}

* {
    /* Reset browsers default margin, padding and font sizes */
    margin: 0;
    padding: 0;
}

.background-black {
    background-color: black;
}


#donations .ui-widget-content .ui-state-active,
#donations .ui-widget-header .ui-state-active {
    background: #555;
    border: #555;
}

#donations .ui-state-default {
    background: #282828;
    border : #282828;
}

#donations {
    border: none;
    background: none;
}

li a {
    outline-color: transparent;
}

.ui-tabs .ui-tabs-panel {
    padding: 0px !important;
}

#donations .ui-widget-header{
    background: none;
    border: none;
}

body .ui-tooltip-default .ui-tooltip-content {
    background-color: transparent;
    border-color: transparent;
}

body .ui-tooltip {
    padding-top: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
}
body .ui-tooltip-content {padding: 0px}

.donation-error {
    color: red;
    padding: 3px 3px 5px 3px;
    display: block;
}

.hidden {
    display: none;
}

table.striped {
    tbody tr {
        border-bottom:1px solid #ccc;
        padding: 0.1em 0.6em;
    }

    tbody tr {
        background:#121212;
        color: #fff;

        &:nth-child(even){
            background:#080808;
        }
    }
}
