{% extends 'base.html' %}

{% load static %}
{% load cache %}

{% block content %}
    {% with stream=featured_streams.0 %}
        <div class="featured-stream-selected">
            <a href="stream/{{ stream.user.forumname }}">
                <i class="icon-play"></i>
                <img class="featured-img" src="{{ stream.med_preview_img }}" />
            </a>
        </div>
    {% endwith %}

    <div class="featured-streams">
        {% for stream in featured_streams %}
            <a data-link="/stream/{{ stream.user.forumname }}" data-img="{{ stream.med_preview_img }}" href="#">
                <div class="streambox featured {% if forloop.first %}selected{% endif %}"
                    style="background-image:url('{{ stream.small_preview_img }}');">
                    <div class="stream-row">
                        <div class="stream-info stream-left stream-class"></div>
                        <div class="stream-title">{{ stream.user.forumname }}</div>
                    </div>
                    <div class="stream-row">
                        <div class="stream-info stream-viewers">Viewers: {{ stream.viewers }}</div>
                    </div>
                    <div class="stream-row">
                        <div class="stream-info stream-2-mmr">2v2: {{ stream.character.arena_mmr_2v2 }}</div>
                    </div>
                    <div class="stream-row">
                        <div class="stream-info stream-3-mmr">3v3: {{ stream.character.arena_mmr_3v3 }}</div>
                    </div>
                    <div class="stream-row">
                        <div class="stream-info stream-solo-mmr">Solo: {{ stream.character.arena_mmr_solo }}</div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <div style="clear:both;"></div>

    <div class="regular-streams">
        {% for stream in regular_streams %}
            <a href="/stream/{{ stream.user.forumname }}">
                <div class="streambox">

                    <div class="stream-info stream-class stream-left">
                        <img src="{{ stream.character.class_icon }}">
                    </div>

                    <div class="stream-title">{{ stream.user.forumname }}</div>
                    <div class="stream-info stream-viewers">Viewers: {{ stream.viewers }}</div>
                    <div class="stream-info stream-2-mmr">2v2: {{ stream.character.arena_mmr_2v2 }}</div>
                    <div class="stream-info stream-3-mmr">3v3: {{ stream.character.arena_mmr_3v3 }}</div>
                    <div class="stream-info stream-solo-mmr">Solo: {{ stream.character.arena_mmr_solo }}</div>
                </div>
            </a>
        {% endfor %}
    </div>
    <div style="clear:both;"></div>
{% endblock content %}

{% block additional_js %}
    <script src="{% static 'js/streams.js' %}"></script>
{% endblock additional_js %}
