.vote-header {
    text-align: center;
    margin-bottom: 20px;
}

.vote-sites {
    float: right;
}

.vote-site {
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;

    &:nth-child(odd) {
        margin-right: 25px;
    }

    .vote-text {
        font-size: 1.1em;
    }

}

.top-voters {
    text-align: center;
    float: right;
    margin-left: 50px;
    margin-right: 100px;

    h2 {
        margin-bottom: 10px;
    }
}
