<div id="block-block-1" class="block block-block">
    <div class="block-head">
        <h2>How to Connect</h2>
    </div>
    <div class="content">
        <div class="no-disc" style="font-size: small;">
            <strong>Step 1: </strong><a href="/register">Create an account.</a>
            <br />
            <strong>Step 2: </strong>Download:<br />
            <a href="https://bitbucket.org/Malaco/cataclient/downloads/AT%20TBC%202.4.3%20Windows.torrent">TBC</a> - <a href="https://bitbucket.org/Malaco/cataclient/downloads/AT%20wotlk%203.3.5a%20Windows.torrent">Wotlk</a> - <a href="https://bitbucket.org/Malaco/cataclient/downloads/AT%20cata%204.3.4%20client%20Windows%20(UPDATED).zip">Cata</a> - <a href="https://bitbucket.org/Malaco/cataclient/downloads/">Other</a>
            <br />
            <strong>Step 3:</strong> Login with your USERNAME
            <br /><br />
            <strong>Addons:</strong> <a href="/forum/viewtopic.php?f=14&t=10291">Here</a>
            <br /><br />
            <strong>If you already have a client:</strong>
            <br />
            Change your realmlist to:
            <br />
            <a href="/static/realmlist.wtf"><span style="font-size:11px;">set realmlist logon.arena-tournament.com</span></a>
            <br /><br />
            For a more detailed tutorial please check: <a href="/forum/viewtopic.php?t=14117"><b>TBC</b></a> - <a href="/forum/viewtopic.php?t=7"><b>WOTLK</b></a> - <a href="/forum/viewtopic.php?f=22&t=16273"><b>CATA</b></a>.
        </div>
    </div>
    <div class="clear-fix"></div>
</div>
