<div id="nav">
    <div id="block-menu-primary-links" class="block block-menu">
        <div class="content">

            <ul class="menu">
                <li class="leaf"><a href="/vote">Vote</a></li>

                <li class="leaf"><a href="{% url 'streams' %}">Streams</a></li>

                <li class="expanded nolink-li">
                    <a href="#" class="nolink">Info</a>
                    <ul class="menu" style="display: none;">
                        <li class="leaf first"><a href="https://twitter.com/arenatourn" target="_blank">Changelog</a></li>
                        <li class="leaf"><a href="/forum/viewtopic.php?f=35&t=11419">Rules</a></li>
                    </ul>
                </li>

                <li class="expanded nolink-li">
                    <a href="#" class="nolink">Bug Tracker</a>
                    <ul class="menu" style="display: none;">
                        <li class="leaf first"><a href="http://arena-tournament.com/forum/viewforum.php?f=21">WOTLK</a></li>
                        <li class="leaf"><a href="http://arena-tournament.com/forum/viewforum.php?f=44">CATA</a></li>
                        <li class="leaf"><a href="https://twitter.com/arenatourn" target="_blank">Changelog</a></li>
                    </ul>
                </li>

                <li class="leaf"><a href="/armory" class="">Armory</a></li>

                <li class="expanded nolink-li">
                    <a href="#" class="nolink">Ladder</a>
                    <ul class="menu" style="display: none;">
                        <li class="leaf first"><a href="/ladder/wotlk/2v2">WOTLK 2v2</a></li>
                        <li class="leaf"><a href="/ladder/wotlk/3v3">WOTLK 3v3</a></li>
                        <li class="leaf"><a href="/ladder/wotlk/solo">WOTLK 3v3 Solo</a></li>
                        <li class="leaf"><a href="/ladder/cata/2v2">CATA 2v2</a></li>
                        <li class="leaf"><a href="/ladder/cata/3v3">CATA 3v3</a></li>
                        <li class="leaf"><a href="/ladder/cata/solo">CATA 3v3 Solo</a></li>
                        <li class="leaf"><a href="/ladder/TBC/2v2">TBC 2v2</a></li>
                        <li class="leaf last"><a href="/ladder/TBC/3v3">TBC 3v3</a></li>
                    </ul>
                </li>
                <li class="leaf last"><a href="/forum/">Forum</a></li>

            </ul>
        </div>
        <div class="clear-fix"></div>
    </div>
</div>
