<div id="block-block-1" class="block block-block">
    <div class="block-head">
        <h2>Season end</h2>
    </div>
    <div class="content">
        <div class="no-disc" style="font-size: small;">
            <b>Wotlk</b><br />
            Season end: 17th August<br /><br />

            <b>Cata</b><br />
            Season end: 14th September<br />
        </div>
    </div>
    <div class="clear-fix"></div>
</div>
