{% load static %}
<div class="block">
    <div class="block-head">
        <h2>Server Info</h2>
    </div>
    <div class="content">
        <div class="item-list">
            <ul>
                <li class="first">We offer free to play, high quality PVP experience from previous expansions</li><br/>
                <li><b>Server location: </b>Paris, France</li>
                <li><b>Patches:</b><br />
                    TBC 2.4.3 - WOTLK 3.3.5a - CATA 4.3.4</li>
                <li><b>Project leaders:</b> Malaco &amp; Bigpwn<br><b>Devs:</b> Bigpwn and TakenBacon</li>
                <li><b>Realmlist:</b> <span style="font-size: 0.9em">logon.arena-tournament.com</span></li>
                <li><b>Changelog: </b><a href="https://twitter.com/arenatourn" target="_blank">Here</a></li>
                <a href="https://www.facebook.com/ATstatus" target="_blank" title="Like us on Facebook"><img src="{% static 'images/facebook.png' %}" alt="Facebook"></a>
                <a href="https://www.twitter.com/ATstatus" target="_blank" title="Follow us on Twitter"><img src="{% static 'images/twitter.png' %}" alt="Twitter"></a>
            </ul>
        </div>
    </div>
    <div class="clear-fix"></div>
</div>
