{% load widget_tweaks %}

<div id="user-box">
    <div style="margin:5px;margin-right:30px">Welcome to Arena-Tournament!<br>
        {% if user.is_anonymous %}
            <a href="#" class="closed js-login"><b>Login</b></a>
            or
            <a href="{% url 'register' %}" class="closed"><b>register</b></a>

            <div id="user-meta-login" class="user-meta-block" style="display:none;z-index:2;">
                <div class="block-head"><h2>User login</h2></div>
                <form action="{% url 'login' %}" method="post">{% csrf_token %}
                    <div class="form-item">
                        <label>Username: {{ form_req_star|safe }}</label>
                        {% render_field login_form.username size="15" class="form-text" %}
                    </div>

                    <div class="form-item">
                        <label>Password: {{ form_req_star|safe }}</label>
                        {% render_field login_form.password size="15" class="form-text" %}
                    </div>
                    <input type="submit" value="Log in" class="form-submit" />
                    <a href="/recoverpassword" title="Password recovery">Password recovery</a>
                </form>
            </div>
        {% else %}
            <a href="/account">{{ user.username }}</a> |
            <a href="/logout">Log out</a>
        {% endif %}
    </div>
</div>
