{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Arena-Tournament | Where the Challenge Begins</title>

    <link rel="stylesheet" href="http://malihu.github.io/custom-scrollbar/3.0.0/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="{% static 'css/core/core.css' %}">
</head>

<body id="front" class="sidebar-left">
    <div id="fb-root"></div>

    <div id="user-bar">
        {% include 'includes/user_box.html' %}
        <div class="clear-fix"></div>
    </div>

    <div id="header">
        <div id="header-wrapper">
            <div id="logo">
                <a href="/">Arena-Tournament<span style="opacity: 0; "></span></a>
            </div>
            {% include 'includes/navbar.html' %}
            <div class="clear-fix"></div>
        </div>
    </div>

    <div id="page-cont">
        <div id="page">
            <div id="sidebar-left" class="sidebar">
                {% include 'includes/server_info.html' %}
                {% include 'includes/how_to_connect.html' %}
                {% include 'includes/season_end.html' %}
            </div>

            <div id="center">
                <div id="main">
                    {% block content %}{% endblock %}
                </div>
                <div class="clear-fix"></div>
                <div style="height:50px;"></div>
                <div class="clear-fix"></div>
            </div>
            <div class="clear-fix"></div>
        </div>

        <div id="footer">
            <div id="footer-wrapper">
                <div id="copy">
                    Copyright &copy; 2014 <a href="/">Arena-Tournament</a>.
                </div>
                <div class="clear-fix"></div>
            </div>
        </div>
    </div>

    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="http://malihu.github.io/custom-scrollbar/3.0.0/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="{% static 'js/navbar.js' %}"></script>
    {% block additional_js %}{% endblock additional_js %}
</body>
</html>
