{% extends 'base.html' %}

{% load static %}
{% load cache %}

{% block content %}
    {% for topic in topics %}
        <div class="node clear-block" style="border: medium none; padding-top: 0px;">
            <div class="title-box stickypost">
                <div class="title-box-cont">
                    <a style="float:left;" href="/forum/viewtopic.php?t=16602">
                        <h2>{{ topic.topic_first_post.post_subject }}</h2>
                    </a>
                    <div style="color: white; text-align: right; float: right; margin-right: 5px; margin-top: 2px;">
                        {{ topic.topic_datetime|date:"F d, Y H:i" }}
                        <br>
                        by {{ topic.topic_first_poster_name }}
                    </div>
                </div>
            </div>

            <div class="content-box">
                <div class="content">
                    {{ topic.topic_first_post.parsed_text|safe|linebreaksbr }}
                </div>
                <ul class="links inline nobody">
                    <li class="comment_comments first last">
                        <a href="/forum/viewtopic.php?t={{ topic.topic_id }}" class="comment_comments">
                            {{ topic.topic_replies }} comment{{ topic.topic_replies|pluralize }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}

{% endblock content %}

{% block additional_js %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock additional_js %}
