{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="title-box">
        <div class="title-box-cont">
            <h2>Register</h2>
        </div>
    </div>

    <form action="" method="post">{% csrf_token %}

        {{ form.errors }}

        <div class="form-item">
            <label>Username: {{ form_req_star|safe }}</label>
            {% render_field form.username class="form-text" size="60" %}
        </div>

        <div class="form-item">
            <label>E-mail address: {{ form_req_star|safe }}</label>
            {% render_field form.email class="form-text" size="60" %}
            <div class="description">You will need to confirm this email
                address to finish registration.  Having access to this email
                will be the only proof that you own this account.</div>
        </div>

        <div class="form-item password-parent">
            <label>Password: {{ form_req_star|safe }}</label>
            {% render_field form.password class="form-text" size="60" %}
        </div>

        <div class="form-item confirm-parent">
            <label>Confirm password: {{ form_req_star|safe }}</label>
            {% render_field form.conf_password class="form-text" size="60" %}
            <div class="description">Provide a password for the new account in
                both fields.</div>
        </div>

        <input type="submit" value="Create new account" class="form-submit">
    </form>

{% endblock content %}
